body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111;
    color: #fff;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

h2 {
    text-align: center;
    font-size: 1.1rem;
    font-weight: normal;
    margin-top: 0;
    color: #ccc;
}

h3 {
  margin-top: 40px;
  padding-bottom: 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #d48217;
  border-bottom: 2px solid #d48217;
}

.item {
    display: flex;
    justify-content: space-between;
    margin: 14px 0 4px;
    font-size: 1rem;
}

.price {
    font-weight: bold;
    white-space: nowrap;
}

.description {
    font-size: 0.9rem;
    color: #ccc;
    margin-bottom: 10px;
    font-style: italic;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.8rem;
    color: #aaa;
}